/* getElementDimension()でのサイズが2回目以降で異なる場合の為のworkaround */
.node-text_selected {
  border: solid 1px #afafaf;
}

foreignObject {
  overflow: visible;
}

/* textのspanに適用 */
.disable-select {
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}


/* katex font size */
.katex-display {
  font-size: 1.5em;
}

