/* getElementDimension()でのサイズが2回目以降で異なる場合の為のworkaround */
.node-text_selected {
  border: solid 1px #7f7f7f;
}

foreignObject {
  overflow: visible;
}

/* textのspanに適用 */
.disable-select {
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}


/* katex font size */
.katex {
  font-size: 2.0em;
}
