/* getElementDimension()でのサイズが2回目以降で異なる場合の為のworkaround */
.node-text_selected {
  background: #cfcfcf;
}

foreignObject {
  overflow: visible;
}

/* textのspanに適用 */
.disable-select {
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}


/* katex font size */
.katex-display {
  font-size: 1.2em;
}

/* input file style */
textarea {
  padding: 5px;
  font-size: 1.0em;
  color: #777;
  border: 1px solid #999999;
  margin: 0 0 5px;
  
  font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",sans-serif;
  resize: none;
  display: block;
}

textarea:focus {
  outline: none;
}

/* math preview field */
.math-preview {
  position: relative;
  display: inline-block;
  margin: 1.5em 0;
  padding: 7px 10px;
  min-width: 40px;
  max-width: 100%;
  /*color: #555;*/
  background: #e0edff;

  border-radius: 10px;
}

.math-preview:before {
  content: "";
  position: absolute;
  top: -20px;
  left: 50%;
  margin-left: -10px;
  border: 10px solid transparent;
  border-bottom: 10px solid #e0edff;
}

.math-preview p {
  margin: 0;
  padding: 0;
}
